/* General Styles for Popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 80vh;
  position: relative; /* For positioning the close button */
}

.popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.popup-close-button:hover {
  color: #000;
}

.popup-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.popup-table th,
.popup-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.popup-table th {
  background-color:  #417bb2;
}

.popup-note {
  font-size: 12px; /* Reduced font size */
  color: #666; /* Slightly dimmed color */
  margin-top: 10px; /* Space above the note */
  text-align: center; /* Center-align the text */
}

@media (max-width: 600px) {
  .popup-content {
    width: 95%;
    padding: 15px;
  }

  .popup-table th,
  .popup-table td {
    font-size: 14px;
    padding: 6px;
  }
}