.visit {
  color: #c22a0f;
  /* Set text color */
  font-size: 16px;
  /* Adjust font size */
  display: inline-flex;
  /* Use inline-flex to make text and counter align horizontally */
  align-items: center;
  /* Vertically center the text and digits */
  text-align: left;
  /* Align text to the left */
}

.counter {
  display: flex;
  /* Arrange digits in a row */
  justify-content: center;
  /* Center the digits horizontally */
  align-items: center;
  /* Center digits vertically */
  margin-left: 10px;
  /* Space between the label and the counter */
}

.digit {
  background-color: #9fffff;
  /* Background color for each digit box */
  color: #000;
  /* Text color (black for visibility) */
  padding: 1px 6px;
  /* Padding for spacing around the digits */
  margin: 0 5px;
  /* Space between each digit */
  font-size: 13px;
  /* Font size for the digits */
  font-weight: bold;
  /* Make the digits bold */
  border: 2px solid #000;
  /* Black border around each digit */
  border-radius: 5px;
  /* Rounded corners for each digit box */
}

.footer {
  background: linear-gradient(45deg, #003366, #0066cc);
  /* Gradient background */
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100vw;
  /* Ensure the footer takes up 100% width */
  position: fixed;
  /* Ensure it stays at the bottom of the page */
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;
  /* Ensure padding does not affect width */
}

.footer-content {
  max-width: 100vw;
  /* Limiting the width for large screens */
  margin: 0 auto;
  /* Center content */
  padding: 0 20px;
}

.footer p {
  margin: 0;
}

.best-view-message {
  display: none;
  font-size: 10px;
  color: #f3d70a;
  text-align: center;
  font: bold;

 
}

/* Only on mobile view, display the message in the center */
@media (max-width: 768px) {
  .best-view-message {
    display: block;
  }
}

/* Mobile View Adjustments */
@media screen and (max-width: 600px) {
  .footer {
    padding: 5px 0;
    /* Reduce padding to shrink footer height */
    width: 100vw;
  }

  .footer-content {
    padding: 0 10px;
    /* Reduce padding for mobile screens */
    text-align: center;
    /* Center the content for smaller screens */
    font-size: 9px;
    /* Adjust font size for mobile */
  }

  .visit {
    font-size: 11px;
    /* Adjust the font size of the visitor count text */
  }

  .counter {
    margin-left: 5px;
    /* Reduce space between text and digits on mobile */
  }

  .digit {
    font-size: 11px;
    /* Smaller font size for digits in mobile view */
    padding: 1px 4px;
    /* Smaller padding for digits */
    margin: 0 3px;
    /* Reduce space between digits */
  }

  .scroll-to-top {
    padding: 8px;
    /* Smaller padding for mobile */
    font-size: 9px;
    /* Adjust font size for mobile */
    bottom: 10px;
    /* Adjust bottom distance */
    right: 10px;
    /* Adjust right distance */
  }
}